
//Theme colors
$primary-white-color: #FFFFFF;
$primary-black-color: #000000;
$primary-brown-color: hsl(16, 38%, 32%);

//White Shade colors
$white-shade1-color: #00000008;
$white-shade2-color: #F7F7F7;
$white-shade3-color: #0000001F;
$white-shade4-color: #0000001A;
$white-shade8-color:#0000000D;
$white-shade5-color: #FAFAFA;
$white-shade6-color: #FFFFFF1A;
$white-shade7-color:#F5ECE7 ;
$white-shade7-color:#e9e3e1;
$white-shade9-color:#9A82780D;
$white-shade10-color:#000000c2 ;
$white-shade11-color:#e9ecef ;

//Grey Shade colors
$grey-shade1-color: #00000080;
$grey-shade2-color: #00000029;
$grey-shade3-color: #7043321A;
$grey-shade4-color: #70433214;
$grey-shade5-color: #E5E5E5;
$grey-shade6-color: #F8F8F8;
$grey-shade7-color: #00000033;
$grey-shade8-color: #D6D6D7;
$grey-shade9-color: #9B6F5F1A;
$grey-shade10-color: #EDE9E7;
$grey-shade11-color: #EEEEEE;
$grey-shade12-color:#eff8ef;
$grey-shade13-color:#0000001a;
$grey-shade14-color:#F3F3F3;
$grey-shade15-color:#A1A1A1;
$grey-shade16-color:#f8f9fa;
$grey-shade17-color: #EFEFEF;
$grey-shade18-color:#F2F2F2;
$grey-shade19-color:#70433278;
// reports border
$grey-shade20-color:#dfdfdf;
$grey-shade21-color:#495057;





//Black Shade colors
$black-shade1-color: #0004;
$black-shade2-color: #2E384D;

//Brown Shade colors
$brown-shade1-color: #B6A097; //border
$brown-shade2-color: #9A8278; //popup header bg
$brown-shade3-color: #7043321A;
$brown-shade4-color: #E8DEDB;
$brown-shade5-color: #D8CEC9;
$brown-shade6-color: #9B6F5F;
$brown-shade7-color: #5B3B25;
$brown-shade8-color: #FFF6F2;
$brown-shade9-color: #9B6F5F4D;
$brown-shade10-color: #9A827866;
$brown-shade11-color: #DFD4CF;
$brown-shade12-color: #F5ECE7;
$brown-shade13-color : #70433280;
$brown-shade14-color : #70433233;
$brown-shade15-color:#00000026;
$brown-shade16-color:#b6a09730;
$brown-shade17-color:#c982091a;
$brown-shade18-color: #DCCFC9;
$brown-shade19-color: #DCD0C9;
$brown-shade20-color: #E6E0DD;
$brown-shade21-color:#C5A79C;
$brown-shade22-color:#9A827840;
$brown-shade23-color:#6c757d;
$brown-shade24-color:#E2E2E4;

//green shade colors
$green-shade1-color:#41a041;
$green-shade2-color: #61b962;
$green-shade3-color:#EFF8EF;
$green-shade4-color : #1DAF94;
$green-shade5-color: #82D8BD;
$green-shade6-color: #06F517;

//Red Shade colors
$red-shade1-color: #FF2323;
$red-shade2-color:#FF7047;
$red-shade3-color:#BE5A56;
$red-shade4-color: #F50606;
// pdf export button
$red-shade5-color: #c13737;


$pink-shade1-color:#eb1c69;
$pink-shade2-color: #FDE7F0;
$pink-shade3-color:#e46a6a;

//Blue Shade colors
$blue-shade1-color: #2243ac;
$blue-shade2-color:#6a2791;
$blue-shade3-color:#E8ECF7;
$blue-shade4-color: #F0E9F4;
$blue-shade5-color: #29BACE;
$blue-shade6-color:#0183C7;

//yellow color shade
$yellow-shade1-color:#FDC603;
$yellow-shade2-color:#f7921e;
$yellow-shade3-color:#fed402;
$yellow-shade4-color: #F5EECD;
$yellow-shade5-color:#F9A959;

// primeng table header color
$table-shade:#f8f9fa ;

//font variables

// font-size
$sz-9-font: 9px;
$sz-10-font: 10px;
$sz-11-font: 11px;
$sz-12-font: 12px;
$sz-13-font: 13px;
$sz-14-font: 14px;
$sz-15-font: 15px;
$sz-16-font: 16px;
$sz-17-font: 17px;
$sz-18-font: 18px;
$sz-20-font: 20px;
$sz-22-font: 22px;
$sz-24-font: 24px;
$sz-25-font: 25px;
$sz-26-font: 26px;
$sz-27-font: 27px;
$sz-28-font: 28px;
$sz-30-font: 30px;
$sz-32-font: 32px;
$sz-34-font: 34px;
$sz-35-font: 35px;
$sz-40-font: 40px;

//font-weight
$regular-font: normal;
$semi-bold-font: 600;
$bold-font: bold;
